<p>Create an account and you can start making your Christmas list! </p>

<form action='/signup' method = "post">
  
  <p>Username: <input type ="text" name = "username"></p>
  <p>Email: <input type ="text" name = "email"></p>
  <p>Password: <input type ="text" name = "password"></p>
    <input type="submit" value="Create User">

</form>