
  <form action='/items' method="post">
    Content:
    <input type="text" name="item_name"><br>
    Create an item for your wishlist:

    <input type="submit" name="submit" id="submit">


  </form>